{{!-- <header>
    {{#if loggedIn}}
    {{> private-nav}}
    {{else}}
    {{> public-nav}}
    {{/if}}
</header>

<main>
  
  <!-- row of 3 images -->
  <div class="container">
    <div class="row">
      <div class="column hero-img">
        <img
          src="https://images.unsplash.com/photo-1542202229-7d93c33f5d07?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Zm9yZXN0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt="Mountains"
          style="width: 100%"
        />
      </div>
      <div class="column hero-img">
        <img
          src="https://images.unsplash.com/photo-1498855926480-d98e83099315?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fG1vdW50YWlufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt="Snow"
          style="width: 100%"
        />
      </div>
      <div class="column hero-img">
        <img
          src="https://images.unsplash.com/photo-1622630285247-8ee379e1e3e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHdvb2RsYW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt="Forest"
          style="width: 100%"
        />
      </div>
    </div>
  </div>

  <!-- banner -->
  <div class="container banner mt-4">
    <h2 class="text-center">Off The GRID - Trails Treks Trips and Tips</h2>
  </div>

  <div class="container mt-4">
    <h2 class="text-center">Start Exploring</h2>
  </div>
  <!-- grid -->

  <div class="container grid">
{{#each blogs}}
 
{{/each}}
</div>
   

</main>

<section>
  {{>blog-input}}
</section>

<footer>
  {{> footer}}
</footer> --}}

<div class="container grid">
  {{#each blogs}}
    {{#staggeredDiv id}}
      <div class="item project blog-card">
        <div class="content">
          <div class="desc">
            <div class="display-6 mb-1">{{title}}</div>
            <img src="{{image}}" />
            <p>
              {{blog}}
              <a href="/blog/view/"> view</a>
            </p>
          </div>
          <div class="font-italic text-end h5"><u>{{username}}</u></div>
        </div>
      </div>
    {{else}}
      <div class="item photo blog-card">
        <div class="content">
          <img class="photothumb" src="{{image}}" />
          <div class="display-6 mb-1">{{title}}</div>
          <div class="desc">
            <p>
              {{blog}}
              <a href="/blog/view/"> view</a>
            </p>
          </div>
          <div class="font-italic text-end h5"><u>Italic text.</u></div>
        </div>
      </div>
    {{/staggeredDiv}}
  {{/each}}
</div>